.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    left: 0;
    /*background-color: #111;*/
    /*background-color: #4bc174;*/
    overflow-x: hidden;
}

.sidenav li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
}

.sidenav li:hover {
    color: #c0c0c0;
}

.main {
    width: 100%;
    margin-left: 150px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav li {font-size: 16px;}
}