.sidenav {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    color:white;
    text-align:center;
}

.sidenav li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
}

.sidenav li:hover {
    color: #c0c0c0;
}

.sidenav .active{
    background: #388e3c;
    box-shadow: #666666;
}

@media screen and (max-height: 450px) {
    .sidenav li {font-size: 16px;}
}
.active{
    color:white!important;
    background:#388e3c!important;
}