@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
    overflow: auto;
}

.closebutton3 {
    position: relative;
    left: 200px;
    font-size: 40px;
}

.mapmodalheader {
    position: relative;
    left: -320px;
}

.mapmodal {
    position: relative;
    left: -250px;
    width: 900px;
    height: 850px;
}

.modal-body p{
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}

.textmenu {
    position: relative;
    top: 65px;
    left: 30px;
    font-size: 20px;
}

.addressinput {
    position: relative;
    top: 70px;
    width: 720px;
    left: 10px;
}

.boldlink {
    font-weight: bold;
}

.okstylechoose {
    position: relative;
    top: 120px;
    left: 30px;
    font-weight: bold;
    font-size: 20px;
}

.okstyle {
    position: relative;
    top: 120px;
    left: 30px;
}

.closebutton{
    position: relative;
    left: 250px;
    font-size: 40px;
}

.header1 {
    text-align: center!important;
    position: relative;
    left: -260px;
}

.firstmodalsize {
    height: 500px!important;
    width: 800px!important;
    position: relative;
    left: -200px;
}

.firstbutton {
    height: 50px!important;
    width: 150px!important;
    position: relative;
    left: -250px;
    top: 65px;
}

.secondbutton {
    height: 50px!important;
    width: 150px!important;
    position: relative;
    left: -412px;
    top: 135px;
}

.logintext {
    background-color: white!important;
    background: white!important;
}

.active-item {
    background: #7ad07d;
}
.mainmenu {
    width: 400px!important;
    height:500px;
    position: relative;
    top: 50px;
    right: 50px;
}

.forgotpassword {
    position: relative;
    left: -190px;
}

.maintext {
    font-size: 20px;
    position: relative;
    left: 30px;
    top: 10px;
    color: white;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

.leftmenutext {
    font-size: 15px;
    position: relative;
    left: -12px;
    top: 10px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    letter-spacing:0.1em;
}

.leftmenutext:hover {
    color: black!important;
    border-bottom: 1px solid #ccc;
}

.menutext:hover {
    color: black!important;
    border-bottom: 1px solid #ccc;
    background: #b4da9d;
}

.topmenutext {
    letter-spacing:0.1em;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

.adminbuttonchange {
    position: relative;
    top: 5px;
    left: 150px;
}

.adminbuttondelete {
    /*position: center;*/
    /*top: 155px;*/
    /*left: 295px;*/
}

.adminlink {
    color: white;
    font-weight: bold;
    position: absolute;
    right: 150px;
    top: 13px;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 5%;
    text-align: center;
    line-height: 2.5;
}

.adminlinkli:last-child a {
    margin-right: 0;
}

.adminlink:link, .adminlink:visited, .adminlink:focus {
    background: lightgrey;
}

.adminlink:hover {
    color: grey;
    background: white;
}

.adminlink:active {
    background: red;
    color: black;
}

.tr-link:hover {
    color: black !important;
    background-color: #dcedc8 !important;
}

.login_body {
    background: url("/img/stadium.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.login-block {
    margin: 5% 30%;width: 30%;
}
.login-card {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.map-block {
    min-height: 70vh!important;
    min-width: 60vh!important;
    padding: 0;
    margin: 0;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-card a:hover {
    opacity: 1;
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}