<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="fragments :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>event</title>
</head>
<body>
<div class="container">
    <tr>
        <center>
        <h1>
            <td th:text="${sportEvent.playground.address}">...</td>
        </h1>
    </center>
    </tr>
    <center>
        <h2>
        <td th:text="${sportEvent.sport.type}">...</td>
        </h2>
        <td th:text="${sportEvent.timeStart}">...</td>
        <td th:text="${sportEvent.timeEnd}">....</td>
    </center>
    <center>
    <table class = "table table-dark table-striped">
            <h3>ИГРОКИ</h3>
        <tr th:each ="user : ${sportEvent.users}">
            <td th:text="${user.name}">...</td>

        </tr>

    </table>
    </center>
</div>

</body>
</html>