<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="fragments :: head">

    <title th:text="${address}+' рассписание на сегодня'"/>
</head>
<body>
<h1 th:text=" ${address}"/>
<div>
    <table border="1">

        <tr th:each ="event : ${events}">
            <td th:text="${event.getTimeStart()}+' - '+${event.getTimeEnd()}"/>
            <td th:text="${event.sport.type}"/>
            <td ><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" th:attrappend="data-target='#users-'+${event.id}">
                Список участников
            </button></td>
            <div class="modal fade" th:id="'users-'+${event.id}" tabindex="-1" role="dialog" aria-hidden="true">
                <table border="1">
                    <tr th:each="user : ${event.getUsers()}">
                        <td th:utext="${user.getName()}"/>
                    </tr>
                </table>
            </div>
        </tr>
    </table>
</div>

</body>
</html>