<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="fragments :: head">
    <title th:text="'Площадки на которых доступен '+${sports.get(0).type}"/>
</head>
<body>
<h1 th:text="'Площадки с '+${sports.get(0).type}"/>

<br/><br/>
<div>
    <table class="table table-dark table-striped">
        <tr th:each ="ground : ${grounds}">
            <td th:text="${ground.address}">...</td>
        </tr>
    </table>
</div>
<h1>Виды спорта</h1>
<table class="table table-dark table-striped">
    <tr th:each="sport : ${sports}">
        <a th:href="'/playgrounds?type='+${sport.type}"
           th:utext="${sport.type}"/><br>
    </tr>
</table>
    <form th:action="@{/addGround}" >
        <button type="button" class="btn btn-primary btn-lg">Предложить площадку</button>
    </form>
</form>

<!--<a href="addGround">Add ground</a>-->

</body>
</html>

