<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>playgrounds</title>
</head>
<body>
<h1>Grounds</h1>

<br/><br/>
<div>
    <table border="1">
        <tr th:each ="ground : ${grounds}">
            <td th:utext="${ground.address}">...</td>
        </tr>
    </table>
</div>
<h1>Sports</h1>

    <div th:each="sport : ${sports}">
            <a th:href="'/playgrounds/'+${sport.type}"
            th:utext="${sport.type}"/><br>
    </div>
    <form th:action="@{/addGround}" >
    <input type="submit" value="Add new Ground"></p>
    </form>
</form>

<!--<a href="addGround">Add ground</a>-->

</body>
</html>

