<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head th:include="fragments :: head">
    <title>Events</title>
</head>
<body>
<h1>Events</h1>

<br/><br/>
<div>
    <table class="table-dark table-striped">
        <thead>
        <tr>
            <th>Площадка</th>
            <th>Вид спорта</th>
            <th>Время начала</th>
            <th>Время завершения</th>
            <th>Количество игроков</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each ="sportevent : ${sportevents}">
                <td th:utext="${sportevent.playground.address}">...</td>
                <td th:utext="${sportevent.sport.type}">...</td>
                <td th:utext="${sportevent.timeStart}">...</td>
                <td th:utext="${sportevent.timeEnd}">...</td>
                <td th:utext="${sportevent.users.size()}">...</td>
            </tr>
        </tbody>
    </table>
</div>



</body>
</html>