<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments :: head">
</head>
<div th:replace="fragments::nav"/>
<body>
<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="card border-success mb-3" style="width: 400rem;">
            <div class="card-header">предложите событие</div>
            <div class="card-body text-success">
                <h5 class="card-title">Новое событие</h5>
                <div class="card-text">
                    <form th:action="@{/addnewevent}" method="post" id="formAdd">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Выбрать площадку</div>
                        <div class="panel-body">
                            <select class="form-control" id="exampleFormControlSelect1" name="selectGround"
                                    style="width: fit-content">
                                <option th:each="playground:${playgrounds}" th:text="${playground.address}"
                                        th:value="${playground.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Выбрать вид спорта</div>
                        <div class="panel-body">
                            <select class="form-control" id="exampleFormControlSelect" name="selectSport"
                                    style="width: fit-content">
                                <option th:each=" sport :${sports}" th:text="${sport.type}"
                                        th:value="${sport.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Выберите дату</div>
                        <div class="panel-body">
                            <input type="date" name="data"/>
                            <h4> Время начало:</h4>
                            <input type="time" name="timeStart"/>
                            <h4> Время завершения:</h4>
                            <input type="time" name="timeEnd"/>
                        </div>
                        <!--<div class="container">-->
                        <input type="submit" form="formAdd" class="btn btn-primary btn-lg" value="Создать Ивент!"/>
                        <!--</div>-->
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>