<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>event</title>

</head>
<body>
<script type="text/javascript" src="/js/eventController.js"></script>
<script type="text/javascript" src="/js/stomp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script>
    var eventId=document.location.pathname.split("/")[2];

</script>
<script>
    var stompClient = null;
    var eventC=getEventById(eventId);
    function setConnected(connected) {
        // document.getElementById('connect').disabled = connected;
        // document.getElementById('disconnect').disabled = !connected;
        // document.getElementById('conversationDiv').style.visibility
        //     = connected ? 'visible' : 'hidden';
        // document.getElementById('response').innerHTML = '';
    }

    function connect() {
        var socket = new SockJS('/api/chatique');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe(document.location.pathname, function(messageOutput) {
                showMessageOutput(JSON.parse(messageOutput.body));
            });
        });
    }

    function disconnect() {
        if(stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendMessage() {
        var from = $('#currentUsed').val();
        var text = $('#MSGtext').val();
        $('#MSGtext').val("");

        stompClient.send("/api/chatique/"+eventId, {},
            JSON.stringify({'user':from, 'sportEvent': eventC, 'text':text, 'dateTime': new Date()}));
    }

    function showMessageOutput(messageOutput) {
        var response = $('#messages');
        var dd=messageOutput.dateTime;
        var str;
        var hh=new Date().getHours();
        var ampm = hh >= 12 ? 'PM' : 'AM';
        var dat=dd[1].toString().length ==1 ?"0"+dd[1] : dd[1];
        var min=dd[4].toString().length ==1?"0"+dd[4]:dd[4];
        str=dat+'/'+dd[2]+'/'+dd[0].toString().substring(2,4)+' '+dd[3]+':'+min;
        response.append('<div><small class="text-muted">' +
            str+' -</small> <strong>'+
            messageOutput.user + ':</strong> '+
            messageOutput.text+
            '</div>');

    }
    connect();

</script>
<script type="text/javascript" src="/js/eventController.js"></script>
<div th:replace="fragments::nav"/>
<div class="container">
    <tr>
        <center>
            <h1>
                <td th:text="${sportEvent.playground.address}">...</td>
            </h1>
        </center>
    </tr>
    <center>
        <h2>
            <td th:text="${sportEvent.sport.type}">...</td>
        </h2>
        <tr id="eventDates">
        <td th:text="${eventDateStart}">...</td>
        <td th:text="${eventDateEnd}">....</td>
            <br/>
        </tr>
        <button class="btn btn-success waves-effect waves-light" type="button" th:onclick="'getAuth('+ ${sportEvent.id} +')'">
            Добавиться в это событие
        </button>
        <button class="btn btn-danger waves-effect waves-light" type="button" th:onclick="'deleteAuth('+ ${sportEvent.id} +')'">
            Удалиться из этого события
        </button>
        <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#fullHeightModalRight">Открыть чат</button>

    </center>
    <center>
        <h1 >
            Список участников
        </h1>

        <table align="center"  class="table table-dark table-striped">
            <!--</td>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<td>Участники</td>-->
            <!--</tr>-->
            <!--</thead>-->
            <tbody id="user-trs">
            </tbody>

        </table>

    </center>
</div>
<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="modal-content" id="mdcontent">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Чат участников</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 450px;overflow: auto">
                <div id="chatique">
                    <div id="messages">
                        <div th:each="msg : ${messages}">
                            <small class="text-muted" th:text="${msg.dateTime.format(formatter)}+' - '"></small>
                            <strong th:text="${msg.user}+': '"></strong>
                            <th:block th:text="${msg.text}"></th:block>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div>
                    <textarea rows="1" id="MSGtext"></textarea>
                </div>
                <button type="button" class="btn btn-primary" onclick="sendMessage()">Отправить</button>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->


<input id="currentUsed" th:type="hidden" th:value="${user}"/>
<script>
    getAndFillEventForModal(eventId);
</script>
</body>
</html>
