<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>event</title>
</head>
<body th:onload="'getAndFillEventForModal('+${sportEvent.id}+')'">
<div th:replace="fragments::nav"/>
<div class="container">
    <tr>
        <center>
            <h1>
                <td th:text="${sportEvent.playground.address}">...</td>
            </h1>
        </center>
    </tr>
    <center>
        <h2>
            <td th:text="${sportEvent.sport.type}">...</td>
        </h2>
        <td th:text="${sportEvent.timeStart}">...</td>
        <td th:text="${sportEvent.timeEnd}">....</td>
        <p></p>
        <button type="button" th:onclick="'getAuth('+ ${sportEvent.id} +')'">
            Добавиться в это событие
        </button>
        <button type="button" th:onclick="'deleteAuth('+ ${sportEvent.id} +')'">
            Удалиться из этого события
        </button>
    </center>
    <center>
        <h1 >
            Список участников
        </h1>
        <table align="center"  class="table table-dark table-striped">
            <!--</td>-->
            <tbody id="user-trs">
            </tbody>

        </table>
    </center>
</div>

</body>
</html>