<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<th:block th:fragment="head">
    <meta charset="UTF-8"/>
    <base href="/"/>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <Link rel="stylesheet" href="/css/main.css" />
    <!--BEAUTIFUL MULTIPLE SELECTS WITH LIVE SEARCH-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" th:src="@{/eventController.js}"></script>
    <script type="text/javascript" th:src="@{/playgroundLogic.js}"></script>
    <script type="text/javascript" th:src="@{/eventController.js}"></script>
    <script type="text/javascript" th:src="@{/sporteventsLogic.js}"></script>
    <script type="text/javascript" th:src="@{/eventLogic.js}"></script>
    <script type="text/javascript" th:src="@{/sportController.js}"></script>
    <script type="text/javascript" th:src="@{/main.js}"></script>
    <script type="text/javascript" th:src="@{/userLogic.js}"></script>
</th:block>
<th:block th:fragment="nav">
    <nav class="navbar navbar-inverse" style="margin-bottom:0;border-radius: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">GLAGNE</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Иди домой</a></li>
                <li><a th:href="@{/playgrounds}">Площадки</a></li>
                <li><a th:href="@{/event}">Ближайшая игра</a></li>
                <li><a th:href="@{/sportevents}">Все игры</a></li>
                <li><a th:href="@{/outdoorpanel}">Уличная панель</a></li>
                <li><a th:href="@{/addnewevent}">Добавить свое событие</a></li>
                <li><a th:href="@{/stat}">Статистика</a></li>
            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>