<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <title>Events</title>
</head>
<body onload="activateItem('mygames-item')">
<div th:replace="fragments::nav"/>
<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="card border-success mb-3" style="width: 400rem;">
            <div class="card-body text-success">
                <h5 class="card-title">МОИ ИГРЫ</h5>
                <p class="card-text">
                <table id="table_1" class="table table-striped" >
                    <thead class="text-white light-green lighten-1">
                    <tr>
                        <td>ДАТА</td>
                        <td>ВРЕМЯ</td>
                        <td>СПОРТ</td>
                        <td>АДРЕС</td>
                        <td>ИГРОКИ</td>
                    </tr>
                    </thead>
                    <tbody id="tablebody_2">
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/eventController.js"></script>
<script>
    $(document).ready(function () {
        getAllSportEventsByUser();
    });</script>
</body>
</html>