<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Представьтесь</title>
    <script src="js/login.js"></script>
</head>
<body>
<center>
    <div class="card text-center w-50 p-3" style="padding: 0px!important; margin-top: 50px; ">
        <div class="card-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#signin" role="tab"
                       aria-controls="home"
                       aria-selected="true">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#signup" role="tab"
                       aria-controls="profile"
                       aria-selected="false">Зарегистрироваться</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="home-tab">
                    <form  action="/login" method="post">
                        <h3 class="h4 mb-4">Добро пожаловать!</h3>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control mb-4" name="user" placeholder="электронаня почта"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control mb-4" id="passwordL" name="password"
                                   placeholder="Password"/>
                        </div>
                        <button type="submit" class="btn btn-success btn-block my-4">Войти</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="signup" role="signup" aria-labelledby="profile-tab">
                    <form action="/registration" id="registrationForm" method="post"
                          onsubmit="return TestLogin1(email.value);">
                        <h3 class="h4 mb-4">Зарегестрируйтесь</h3>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="name" type="text" class="form-control  mb-4" name="name"
                                   placeholder="Введите Ваше имя"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="text" class="form-control  mb-4" name="email"
                                   onblur="TestLogin1(this.value)"
                                   placeholder="Введите Ваш Email"/>
                        </div>
                        <p style="color: red" hidden="true" id="warning">Имя занято, выберите другое имя</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="password" id="password" type="password" class="form-control  mb-4"
                                   placeholder="Введите пароль"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password2" type="password" class="form-control"
                                   placeholder="Повторите ввод пароля"
                                   onblur="TestPass()"> </input>
                        </div>
                        <p style="color: red" hidden="true" id="warning2">Пароль не совпадает!</p>
                        <input type="submit" form="registrationForm" class="btn btn-success btn-block my-4"
                               value="Зарегистрироваться"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>
</body>
</html>