<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments :: head">
    <title th:text="${address}+' рассписание на сегодня'"/>
</head>
<body>
<script type="text/javascript" src="/js/eventController.js"></script>
<h2> Расписание событий на сегодня </h2>
<div>
    <table class="table table-dark table-striped" border="1">
        <thead>
        <tr>
            <td>Время</td>
            <td>Мероприятие</td>
            <td>Количество участников</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.getTimeStart().toLocalTime().toString()}+' - '+${event.getTimeEnd().toLocalTime().toString()}"/>
            <td th:text="${event.sport.type}"/>
            <td th:text="${event.users.size()}"/>
        </tr>
        </tbody>
    </table>
</div>

<div style="color:black" class="modal fade" id="users-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Список участников</h4>
                <h5 id="header"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" >
                <table class="table table-dark table-striped" style="color:#d6d6d6">
                    <tbody id="user-trs">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>