<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments :: head"></th:block>
    <base href="/"/>
    <link href="../static/css/left-sidebar.css" th:href="@{/css/left-sidebar.css}"  rel="stylesheet" />
    <title th:text="'Площадки на которых доступен '+${sports.get(0).type}"/>
</head>
<body>
<nav class="navbar navbar-default no-margin">
    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" ><i class="fa fa-rocket fa-4"></i> Вид Спорта</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active" ><a class="navbar-brand" ><i class="fa fa-rocket fa-4"></i> Площадка</a></li>
        </ul>
    </div>
</nav>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li th:each="sport : ${sports}">
                <a th:onclick="'playGroundsByType('+${sport.id}+', \''+${sport.type}+'\');'"  th:text="${sport.type}">
                    <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-dashboard fa-stack-1x ">
                    </i>
                    </span>
                </a>
            </li>

        </ul>
    </div><!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <table id="pg_tbl" class="table table-dark table-striped">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</form>-->
</body>
</html>
