<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <title>Events</title>

</head>
<body>
<div th:replace="fragments::nav"/>
<script type="text/javascript" src="/eventController.js"></script>
<h1>Список всех ивентов:</h1>
<div>
    <table id="table_1" class="table-dark table-striped">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Вид спорта</th>
            <th>Площадка</th>
            <th>Количество игроков</th>
        </tr>
        </thead>
        <tbody id="tablebody_1">

        </tbody>
    </table>
</div>

<script>$(document).ready(function () {
    getAllSportEvents();
});</script>
</body>
</html>