<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <title>Events</title>

</head>
<body>
<h1>Список всех ивентов:</h1>
<div>
    <table id="table_1" class="table-dark table-striped">
        <thead>
        <tr>
            <th>Площадка</th>
            <th>Вид спорта</th>
            <th>Время начала</th>
            <th>Время завершения</th>
            <th>Количество игроков</th>
        </tr>
        </thead>
        <tbody id="tablebody_1">

        </tbody>
    </table>
</div>


</body>
</html>