<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments::head">
    <meta charset="UTF-8"/>


</head>
<body onload="activateItem('satistic-item')">
<div th:replace="fragments::nav"/>

<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="card border-success mb-3" style="width: 400rem;">

            <div class="card-body text-success">
                <h5 class="card-title">Статистика</h5>
                <p class="card-text">

                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>Самая популярная площадка:</strong>
                        <div th:text="${famousPG.address}+'. Количество событий на площадке: ' + ${famousPG.sports.size()}"
                             style="margin-left: 15px"></div>
                    </div>
                </li>


                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>Самое популярное событие:</strong>
                        <div th:text="${famousSE.sport.type} + ' на площадке: ' + ${famousSE.playground.address} + '. Количество игроков: ' + ${famousSE.users.size()}"
                             style="margin-left: 15px"></div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>Самый активный игрок:</strong>
                        <div th:text="${famousUser.getKey().getName()} + ' принимает участие в ' + ${famousUser.getValue()} + ' мероприятиях'"
                             style="margin-left: 15px"></div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>Самый популярный вид спорта:</strong>
                        <div th:text="'В ' + ${famousSport.getKey().getType()} + ' играют в ' + ${famousSport.getValue()} + ' событиях'" style="margin-left: 15px"></div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>
                            <div th:text="'Самый популярный вид спорта в период '+${Date}"></div></strong>
                        <div th:text="'В ' + ${famousSport.getKey().getType()} + ' играют в ' + ${famousSport.getValue()} + ' событиях'" style="margin-left: 15px"></div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>
                        <div th:text="'Количество событий в период '+${Date}"></div></strong>
                        <div th:text="${countSEInMonth}" style="margin-left: 15px"></div>
                    </div>
                </li>


                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>Количество доступных площадок: </strong>
                        <div th:text="${countPG}" style="margin-left: 15px"></div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>Количество событий: </strong>
                        <div th:text="${countSE}" style="margin-left: 15px"></div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-success">
                    <div style="display: inline-flex">
                        <strong>Количество игроков:</strong>
                        <div th:text="${countUsers}" style="margin-left: 15px"></div>
                    </div>
                </li>


                </p>
            </div>
        </div>
    </div>
</div>


<br/>

<br/>

</body>

</html>